*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2b4502;
}
img{
    width: 300px;
    height: 300px;
    border: 2px solid purple;
    border-radius: 50px;
    background-image: l;
}
